<%= form_with(model: @character) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :sheet_url %>
  <%= f.text_field :sheet_url %>

  <% unless Table.all.empty? %>
    <%= f.label :table %>
    <%= f.collection_select :table_id, Table.all, :id, :name %>
  <% end %>
  <%= f.submit yield(:button_text) %>
<% end %>
