<h1>My characters</h1>

<%= link_to 'Add a character', new_character_path %>

<% if @characters %>
  <% @characters.each do |character| %>
    <div id="<%= character.id %>">
      <h3><%= character.name %></h3>
      <%= link_to "Edit #{character.name}",
                    edit_character_path(character),
                    id: "edit-#{character.id}" %>
    </div>
  <% end %>
<% else %>
  <p>You haven’t created any characters yet. Why not add one now?</p>
<% end %>
