<% if current_user == @table.user %>
  <%= link_to 'New combat', new_table_combat_tracker_path(table_id: @table.id) %>
<% end %>

<h5>Active combat</h5>
<%= form_with(model: @table) do |f| %>
  <%= f.label :active_combat %>
  <%= f.collection_select :active_combat_id, @table.combat_trackers, :id, :name %>

  <%= f.submit 'Set as active combat' %>
<% end %>

<% if @table.active_combat %>
  <%= @table.active_combat.name %>
<% else %>
  <p>No combat in progress. Select a combat above or <%= link_to 'make a new one', new_table_combat_tracker_path(table_id: @table.id) %>.</p>
<% end %>
