<h1>Welcome</h1>

<%= link_to 'My characters', characters_path %>

<h2>My tables</h2>
<%= link_to 'New table', new_table_path %>

<h4>Running:</h4>
<% current_user.tables.each do |table| %>
  <%= render table %>
<% end %>

<h4>Playing</h4>
<% current_user.characters.each do |character| %>
  <%= render character.table if character.table %>
<% end %>
