<!doctype html>
<html>
<head>
  <title><%= @table.name %></title>
  <%= stylesheet_link_tag "table" %>
</head>
<body>
  <div id="viewport">
    <div id="panel-one">
      <% if @character.nil? %>
        <p>No active character, select one below or <%= link_to 'make a new one', new_character_path %>.</p>
      <% elsif @character.sheet_url.blank? %>
        <p>Please <%= link_to 'set your character sheet', edit_character_path(@character) %>.</p>
      <% else %>
        <iframe src="<%= @character.sheet_url %>"></iframe>
      <% end %>
    </div>
    <div id="panel-two">
      <%= render partial="combat_tracker" %>
    </div>
    <div id="spacer"></div>
  </div>
  <nav id="menu-bar">
    <ul>
      <li><a href="#panel-one">Sheet</a></li>
      <li><a href="#panel-two">Combat</a></li>
    </ul>
  </nav>
</body>
</html>
