* {
  box-sizing: border-box;
}

html, body {
  margin: 0 0 4em 0;
  padding: 0 0 4em 0;
}

#viewport {
  position: absolute;
  border: 0;
  height: calc(100vh - 4em);
  width: 100%;
}

#panel-one, #panel-two,
#panel-three, #panel-four {
  height: 100%;
  width: 100%;
  padding: 1em;
}

#panel-one {
  background-color: yellow;
}

#panel-two {
  background-color: aqua;
}

#panel-one:target, #panel-two:target,
#panel-three:target, #panel-four:target {
  z-index: 1;
}

iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

nav#menu-bar {
  width: 100%;
  border: 1px solid blue;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #fff;
}

nav#menu-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 4em;
}

nav#menu-bar ul li {
  display: inline;
}

nav#menu-bar ul li a {
  display: block;
}

#spacer {
  height: 4em;
}
