<!DOCTYPE html>
<html>
  <head>
    <title>TabletopCompanion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, data: { "turbo-method": :delete } %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end  %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
